h1 {
  font-size: 24px;
  margin-bottom: 24px;
  color: white;
  text-align: center;
}

.search-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
