.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(  --primary-light);
  padding: 20px;
}

.numberDisplay {
  font-size: 4rem;
  padding: 20px;
  background-color: #612e69; 
  border-radius: 10px;
  color:rgb(187, 167, 10);
  text-align: center;
  width: 300px;
}

.button {
  font-size: 2rem;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #7f18a1;
  color: rgb(202, 202, 51);
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #b373c4;
}

.history {
  margin-top: 20px;
  padding: 10px;
  background-color: #32064a;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.history h2 {
  font-size: 1.6rem;
  color:rgb(184, 179, 52)
}

.history ul {
  list-style: none;
  padding: 0;

}

.history li {
  font-size: 2.2rem;
  padding: 4px;
  color:rgb(134, 119, 7)
}
.buttonGroup {
    display: flex; /* Organiza os botões em linha */
    gap: 1rem; /* Espaçamento entre os botões */
    justify-content: center; /* Centraliza os botões */
}
