.container {
    margin: 0 auto;
    max-width: 80rem;
}


.div {
  background-color: var(--primary-dark);
  box-shadow: 0 0 1rem var(--rebecca-purple);
  margin: 3rem 5rem;
  padding: 3rem;
  border-radius: 2rem;
}

.title {
  font-size: 4rem;
  font-weight: bolder;
  color: var(--lavender);
  text-align: center;
  margin-bottom: 2rem;
}

.text {
  font-size: 2rem;
}
