.grid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}

.card {
  width: 250px;
  background-color: #f7e9a9;
  border-radius: 40px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.image {
  width: 150px;
  height: 200px;
  object-fit: contain;
}

h2 {
  font-size: 20px;
  color: #d49200;
  margin-top: 10px;
}

.desc {
  font-size: 14px;
  margin: 10px 0;
}

.price {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #00324c;
  margin-bottom: 12px;
}

button {
  width: 100%;
  background-color: #00324c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}
