.productGrid {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 10rem;
  padding: 10rem;
  scroll-snap-type: x mandatory;
}

.productCard {
  flex: 0 0 auto;
  scroll-snap-align: start;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30rem;
  min-width: 200px;
  max-width: 200px;
  text-align: center;
  box-shadow: 20px 50px rgba(0,0,0,0.1);
}
